.modal-backdrop {
	background-color: #0000004b;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;
}

.center-modal-wrapper {
	position: fixed;
	transform: translateY(100%);
	height: 100%;
	width: 100%;
	transition: transform 0.15s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-modal-wrapper-enterance {
	transform: translateY(0);
}

.center-modal-wrapper-exit {
	transform: translateY(100%);
}

.bottom-modal-wrapper {
	position: fixed;
	transform: translateY(100%);
	height: 100%;
	width: 100%;
	transition: transform 0.15s;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.bottom-modal-wrapper-enterance {
	transform: translateY(0);
}

.bottom-modal-wrapper-exit {
	transform: translateY(100%);
}
